<nav th:fragment="navbar" class="sb-topnav navbar navbar-expand-lg navbar-dark bg-dark"
     xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container-fluid d-flex justify-content-between align-items-center">

        <!-- Texto de bienvenida (centrado) -->
        <div class="text-white fw-bold mx-2">
            <h2>Bienvenid@s a Foregiline</h2>
        </div>

        <!-- Menú usuario (alineado a la derecha) -->
        <ul class="navbar-nav ms-auto me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-user fa-fw"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#!">Perfil</a></li>
                    <li><a class="dropdown-item" href="#!">Configuración</a></li>
                    <li><hr class="dropdown-divider"/></li>
                    <li><a class="dropdown-item" href="#!">Cerrar sesión</a></li>
                </ul>
            </li>
        </ul>

    </div>
</nav>