<div th:fragment="sidebar" id="layoutSidenav_nav" xmlns:th="http://www.w3.org/1999/xhtml">
  <nav class="sb-sidenav accordion sb-sidenav-dark">
    <div class="sb-sidenav-menu">
      <div class="nav" style="text-center">
        <img th:src="@{/assets/img/logo.png}" alt="Logo" style="width: 80px; height: 80px; border-radius: 50%; object-fit: cover; display: block; margin: 0 auto;">

        <div class="sb-sidenav-menu-heading">Principal</div>
        <a class="nav-link" th:href="@{/}"><i class="fas fa-home"></i> Dashboard</a>
        <div class="sb-sidenav-menu-heading">Gestión de personas</div>
        <a class="nav-link" th:href="@{/client}"><i class="fas fa-users"></i> Clientes</a>
        <a class="nav-link" th:href="@{/supplier}"><i class="fas fa-users"></i> Proveedores</a>
        <a class="nav-link" th:href="@{/employee}"><i class="fas fa-users"></i> Empleados</a>
        <div class="sb-sidenav-menu-heading">Inventario</div>
        <a class="nav-link" th:href="@{/inventory}"><i class="fas fa-users"></i> Productos</a>
        <a class="nav-link" th:href="@{/entry}"><i class="fas fa-users"></i> Entradas</a>
        <a class="nav-link" th:href="@{/issue}"><i class="fas fa-users"></i> Salidas</a>
        <div class="sb-sidenav-menu-heading">Operaciones</div>
        <a class="nav-link" th:href="@{/client}"><i class="fas fa-users"></i> Ventas</a>
        <a class="nav-link" th:href="@{/orderBuy}"><i class="fas fa-users"></i>Órdenes de compra</a>
        <div class="sb-sidenav-menu-heading">Reportes</div>
        <a class="nav-link" th:href="@{/client}"><i class="fas fa-users"></i> Reporte</a>
        <!-- Agrega más enlaces aquí -->
      </div>
    </div>
  </nav>
</div>
